fastapi
uvicorn
pymongo
dnspython
python-dotenv
pydantic
certifi
# LangGraph & LangChain
langgraph
langchain
langchain-groq
langchain-community
langchain-core
 
# LLM
groq
 
# Research
tavily-python
tavily
 
# Image Generation
stability-sdk